<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{ !isLinear ? "Enable linear mode" : "Disable linear mode" }}
</button>
<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <!-- INFORMACION GENERAL -->
  <mat-step [stepControl]="informacionGeneralFormGroup">
    <ng-template matStepLabel>
      Informacion General
    </ng-template>



<!--
    <mat-tab-group [selectedIndex]="selectedIndex">
      <mat-tab label="titulo" *ngFor="let number of [0,1,2,3,4];let i=index; ">
        <ng-template mat-tab-label>
        </ng-template>
        content{{number}}
        <br>
        <button (click)="previousStep()">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <button (click)="nextStep()">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </mat-tab>
    </mat-tab-group> -->

    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Datos Informativos">
        Datos Informativos
        <app-datos-generales> </app-datos-generales>
        <button mat-raised-button (click)="stepper.next()">
          Siguiente
        </button>
      </mat-tab>
      <mat-tab label="Áreas Conocimiento">
        Áreas Conocimiento
        <app-areas-conocimiento></app-areas-conocimiento>
      </mat-tab>

      <mat-tab label="Personal Interno">
        Equipo del Proyecto Personal Interno

        <app-personal-interno></app-personal-interno>
      </mat-tab>
      <mat-tab label="Personal Externo Cooperante">
        <app-personal-externo-cooperante></app-personal-externo-cooperante>
      </mat-tab>

      <mat-tab label="Personal Externo a Contratar">
        <app-personal-externo-contratar></app-personal-externo-contratar>
      </mat-tab>
      <mat-tab label="Información Técnica">
        Información Técnica
        <app-informacion-tecnica-proyecto></app-informacion-tecnica-proyecto>
      </mat-tab>

      <mat-tab label="Transferencia de Conocimiento">
        Transferencia de Conocimiento
        <app-transferencia-conocimientos-general></app-transferencia-conocimientos-general>
      </mat-tab>

      <mat-tab label="Bibliografía">

        <app-bibliografia-general></app-bibliografia-general>

      </mat-tab>
      <mat-tab label="Observaciones">

        <app-observaciones-general></app-observaciones-general>

      </mat-tab>
    </mat-tab-group>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel> Investigación </ng-template>

      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Datos Informativos Investigación">
          <h4>Datos Informativos Investigación</h4>
          <!-- <app-areas-conocimiento></app-areas-conocimiento> -->
          <app-datos-informativos-investigacion></app-datos-informativos-investigacion>
        </mat-tab>

        <mat-tab label="Metodología">
          Metodología

          <!-- <app-informacion-tecnica-proyecto></app-informacion-tecnica-proyecto> -->
        </mat-tab>

        <mat-tab label="Impactos">
          Impactos del Proyecto
          <!-- <app-metodologia-proyecto></app-metodologia-proyecto> -->
        </mat-tab>

        <mat-tab label="Descripcion de Act I+D">
          Descripcion de Act I+D
          <!-- <app-metodologia-proyecto></app-metodologia-proyecto> -->
        </mat-tab>

        <mat-tab label="Cronograma de Actividades">
          Cronograma de Actividades
          <app-cronograma-esp-a></app-cronograma-esp-a>
        </mat-tab>
      </mat-tab-group>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="vinculacionFormGroup">
    <form [formGroup]="vinculacionFormGroup">
      <ng-template matStepLabel>Vinculación</ng-template>
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Datos Informativos"> Datos Informativos </mat-tab>
        <mat-tab label="Organización Demandante">
          Organización Demandante
        </mat-tab>
        <mat-tab label="Metodología Vinculación">
          Metodología Vinculación
        </mat-tab>

        <mat-tab label="Cronograma Vinculacion">
          Cronograma Vinculación
        </mat-tab>

        <mat-tab label="Otros Aspectos"> Otros Aspectos Vinculación </mat-tab>

        <mat-tab label="Anexos"> Anexos </mat-tab>
      </mat-tab-group>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="innovacionDocenteFormGroup">
    <form [formGroup]="innovacionDocenteFormGroup">
      <ng-template matStepLabel>Innovación Docente</ng-template>
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Datos Informativos">
          Datos Informativos 1.3 1.4 2.2
        </mat-tab>
        <mat-tab label="Metodologia Innovacion Docente">
          Metodología Innovación Docente
        </mat-tab>
        <mat-tab label="Cronograma"> Cronograma Innovación Docente </mat-tab>
        <mat-tab label="Materiales y Recursos"> Materiales y Recursos </mat-tab>
      </mat-tab-group>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="innovacionPrototiposFormGroup">
    <form [formGroup]="innovacionPrototiposFormGroup">
      <ng-template matStepLabel>Innovación Prototipo</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="thirdCtrl" placeholder="Ex. 1 Main St, New York, NY" required />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Consolidado General</ng-template>

      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Presupuesto">Presupuesto</mat-tab>
        <mat-tab label="Cronograma">Cronograma</mat-tab>
      </mat-tab-group>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
