<div class="personal-externo-contratar">
  <div class="main-body">
    <!-- <as-split [disabled]="true" direction="horizontal">
      <as-split-area [size]="20" style="background: white">
        <app-sidebar></app-sidebar>
      </as-split-area>
      <as-split-area [size]="80"> -->
    <!--
                <Split
                    sizes=[20, 80]
                    direction="horizontal"
                    class="split"
                    minSize=100
                    expandToMin=false
                    dragInterval=1
                    cursor="col-resize"
                >
                    <Sidebar
                    /> -->
    <section>
      <form class="form" onSubmit="handleSubmit">
        <!-- <TitleBar /> -->
        <!-- <app-titlebar></app-titlebar> -->
        <div class="col-12">
          <h4>Personal Externo A Contratar</h4>
          <br />

          <div class="container">
            <hr />

            <div class="row">
              <mat-form-field appearance="fill">
                <mat-label>Perfil Requerido</mat-label>
                <input
                  required
                  matInput
                  type="text"
                  placeholder="Ingresar Texto"
                  class="form-control"
                  name="perfilRequerido1"
                  onChange="handleChange"
                />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-select
                  id="funcion1"
                  onChange="handleChange"
                  name="funcion1"
                  class="form-mat-select"
                >
                  <mat-option value="">-- Elija un Elemento --</mat-option>
                  <mat-option value="ASISTENTE">ASISTENTE</mat-option>
                  <mat-option value="TÉCNICO">TÉCNICO</mat-option>
                  <mat-option value="ANALISTA">ANALISTA</mat-option>
                  <mat-option value="CONSULTOR / ESPECIALISTA"
                    >CONSULTOR / ESPECIALISTA</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <input
                  required
                  matInput
                  type="text"
                  placeholder="Ingresar Texto"
                  class="form-control"
                  name="actividadesDesarrollar1"
                  onChange="handleChange"
                />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Tiempo Contratación</mat-label>
                <input
                  required
                  matInput
                  type="number"
                  placeholder="00"
                  min="0"
                  class="form-control"
                  name="tiempoContratacion1"
                  onChange="handleChange"
                />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Número de personas a contratar</mat-label>
                <input
                  required
                  matInput
                  type="number"
                  placeholder="00"
                  min="0"
                  class="form-control"
                  name="personasContratar1"
                  onChange="handleChange"
                />
              </mat-form-field>
            </div>

            <br />
            <div class="row">
              <mat-form-field appearance="fill">
                <mat-label>Perfil Requerido</mat-label>
                <input
                  required
                  matInput
                  type="text"
                  placeholder="Ingresar Texto"
                  class="form-control"
                  name="perfilRequerido2"
                  onChange="handleChange"
                />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-select
                  id="funcion2"
                  onChange="handleChange"
                  name="funcion2"
                  class="form-mat-select"
                >
                  <mat-option value="">-- Elija un Elemento --</mat-option>
                  <mat-option value="ASISTENTE">ASISTENTE</mat-option>
                  <mat-option value="TÉCNICO">TÉCNICO</mat-option>
                  <mat-option value="ANALISTA">ANALISTA</mat-option>
                  <mat-option value="CONSULTOR / ESPECIALISTA"
                    >CONSULTOR / ESPECIALISTA</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Actividades a Desarrollar</mat-label>
                <input
                  required
                  matInput
                  type="text"
                  placeholder="Ingresar Texto"
                  class="form-control"
                  name="actividadesDesarrollar2"
                  onChange="handleChange"
                />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Tiempo Contratación</mat-label>
                <input
                  required
                  matInput
                  type="number"
                  placeholder="00"
                  min="0"
                  class="form-control"
                  name="tiempoContratacion2"
                  onChange="handleChange"
                />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Número de Personas a Contratar</mat-label>
                <input
                  required
                  matInput
                  type="number"
                  placeholder="00"
                  min="0"
                  class="form-control"
                  name="personasContratar2"
                  onChange="handleChange"
                />
              </mat-form-field>
            </div>

            <br />

            <div class="row">
              <mat-form-field appearance="fill">
                <mat-label>Perfil Requerido</mat-label>
                <input
                  required
                  matInput
                  type="text"
                  placeholder="Ingresar Texto"
                  class="form-control"
                  name="perfilRequerido3"
                  onChange="handleChange"
                />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-select
                  id="funcion3"
                  onChange="handleChange"
                  name="funcion3"
                  class="form-mat-select"
                >
                  <mat-option value="">-- Elija un Elemento --</mat-option>
                  <mat-option value="ASISTENTE">ASISTENTE</mat-option>
                  <mat-option value="TÉCNICO">TÉCNICO</mat-option>
                  <mat-option value="ANALISTA">ANALISTA</mat-option>
                  <mat-option value="CONSULTOR / ESPECIALISTA"
                    >CONSULTOR / ESPECIALISTA</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Actividades a Desarrollar</mat-label>
                <input
                  required
                  matInput
                  type="text"
                  placeholder="Ingresar Texto"
                  class="form-control"
                  name="actividadesDesarrollar3"
                  onChange="handleChange"
                />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Tiempo Contratación</mat-label>
                <input
                  required
                  matInput
                  type="number"
                  placeholder="00"
                  min="0"
                  class="form-control"
                  name="tiempoContratacion3"
                  onChange="handleChange"
                />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Número Personas a Contratar</mat-label>
                <input
                  required
                  matInput
                  type="number"
                  placeholder="00"
                  min="0"
                  class="form-control"
                  name="personasContratar3"
                  onChange="handleChange"
                />
              </mat-form-field>
            </div>

            <br />

            <div class="row">
              <mat-form-field appearance="fill">
                <mat-label>Perfil Requerido</mat-label>
                <input
                  required
                  matInput
                  type="text"
                  placeholder="Ingresar Texto"
                  class="form-control"
                  name="perfilRequerido4"
                  onChange="handleChange"
                />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-select
                  id="funcion4"
                  value="formData.funcion4"
                  onChange="handleChange"
                  name="funcion4"
                  class="form-mat-select"
                >
                  <mat-option value="">-- Elija un Elemento --</mat-option>
                  <mat-option value="ASISTENTE">ASISTENTE</mat-option>
                  <mat-option value="TÉCNICO">TÉCNICO</mat-option>
                  <mat-option value="ANALISTA">ANALISTA</mat-option>
                  <mat-option value="CONSULTOR / ESPECIALISTA"
                    >CONSULTOR / ESPECIALISTA</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Actividades a Desarrollar</mat-label>
                <input
                  required
                  matInput
                  type="text"
                  placeholder="Ingresar Texto"
                  class="form-control"
                  name="actividadesDesarrollar4"
                  onChange="handleChange"
                />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Tiempo de Contratación Meses</mat-label>
                <input
                  required
                  matInput
                  type="number"
                  placeholder="00"
                  min="0"
                  class="form-control"
                  name="tiempoContratacion4"
                  onChange="handleChange"
                />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Número de Personas a Contratar</mat-label>
                <input
                  required
                  matInput
                  type="number"
                  placeholder="00"
                  min="0"
                  class="form-control"
                  name="personasContratar4"
                  onChange="handleChange"
                />
              </mat-form-field>
            </div>

            <br />

            <div class="row">
              <mat-form-field appearance="fill">
                <mat-label>Perfil Requerido</mat-label>
                <input
                  required
                  matInput
                  type="text"
                  placeholder="Ingresar Texto"
                  class="form-control"
                  name="perfilRequerido5"
                  onChange="handleChange"
                />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-select
                  id="funcion5"
                  value="formData.funcion5"
                  onChange="handleChange"
                  name="funcion5"
                  class="form-mat-select"
                >
                  <mat-option value="">-- Elija un Elemento --</mat-option>
                  <mat-option value="ASISTENTE">ASISTENTE</mat-option>
                  <mat-option value="TÉCNICO">TÉCNICO</mat-option>
                  <mat-option value="ANALISTA">ANALISTA</mat-option>
                  <mat-option value="CONSULTOR / ESPECIALISTA"
                    >CONSULTOR / ESPECIALISTA</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Actividades a Desarrollar</mat-label>
                <input
                  required
                  matInput
                  type="text"
                  placeholder="Ingresar Texto"
                  class="form-control"
                  name="actividadesDesarrollar5"
                  onChange="handleChange"
                />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Tiempo de Contratación</mat-label>
                <input
                  required
                  matInput
                  type="number"
                  placeholder="00"
                  min="0"
                  class="form-control"
                  name="tiempoContratacion5"
                  onChange="handleChange"
                />
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Número de personas a contratar</mat-label>
                <input
                  required
                  matInput
                  type="number"
                  placeholder="00"
                  min="0"
                  class="form-control"
                  name="personasContratar5"
                  onChange="handleChange"
                />
              </mat-form-field>
            </div>
          </div>
        </div>

        <br />

        <button class="btn btn-primary">Enviar Información</button>
      </form>
    </section>
    <!-- </as-split-area>
    </as-split> -->
    <!-- </Split> -->
  </div>
</div>
